$(FileObject:lib)$(FilePattern:%.vcproj)<?xml version="1.0" encoding="Windows-1252"?>
<VisualStudioProject
	ProjectType="Visual C++"
	Version="8.00"
	Name="$(libname)"
	ProjectGUID="$(topandtail:$(include:@$(outputdir)/GUID/$(libname).guid))"
        RootNamespace="$(libname)"
	Keyword="win32Proj"
	>
	<Platforms>
		<Platform
			Name="Win32"
		/>
	</Platforms>
	<ToolFiles>
	</ToolFiles>
	<Configurations>
		<Configuration
			Name="Debug|Win32"
			OutputDirectory="$(ProjectOut)\win32\debug\lib"
			IntermediateDirectory="$(ProjectOut)\win32\debug\obj\$(libname)"
			ConfigurationType="4"
			CharacterSet="0"
			>
			<Tool
				Name="VCPreBuildEventTool"
$(ifany:auxfiles:				CommandLine="$(forall:auxfiles:
if not exist $(ProjectOut)\$(dos:$(auxdir))\NUL mkdir $(ProjectOut)\$(dos:$(auxdir))&#x0D;&#x0A;copy ..\$(dos:$(filename)) $(ProjectOut)\$(dos:$(auxdir))\$(rootname)&#x0D;&#x0A;)"
)			/>
			<Tool
				Name="VCCustomBuildTool"
				CommandLine=""
				AdditionalDependencies=""
				Outputs=""
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
			/>
			<Tool
				Name="VCCLCompilerTool"
                        AdditionalOptions="/MP"
				Optimization="0"
				AdditionalIncludeDirectories="include\Win32;include$(ExtraInclude)"
				PreprocessorDefinitions="_DEBUG;VISUAL_CPP;_LIB;WIN32;RAVL_USE_GTK2=1;RAVL_CHECK=1;PROJECT_OUT=\&quot;$(subst:\:\\:$(ProjectOut))\&quot;"
				MinimalRebuild="true"
				BasicRuntimeChecks="3"
				RuntimeLibrary="3"
				RuntimeTypeInfo="true"
				PrecompiledHeaderFile="$(ProjectOut)\win32\debug\obj\$(libname)\$(libname).pch"
				AssemblerListingLocation="$(ProjectOut)\win32\debug\obj\$(libname)\"
				ObjectFile="$(ProjectOut)\win32\debug\obj\$(libname)\"
				ProgramDataBaseFileName="$(ProjectOut)\win32\debug\lib\$(libname).pdb"
				WarningLevel="3"
				SuppressStartupBanner="true"
				Detect64BitPortabilityProblems="false"
				DebugInformationFormat="4"
                        DisableSpecificWarnings="4996,4396"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
				PreprocessorDefinitions="_DEBUG"
				Culture="2057"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLibrarianTool"
				OutputFile="$(ProjectOut)\win32\debug\lib\$(libname).lib"
				SuppressStartupBanner="true"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
				SuppressStartupBanner="true"
				OutputFile="$(ProjectOut)\win32\debug\lib\$(libname).bsc"
			/>
			<Tool
				Name="VCFxCopTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
		</Configuration>
		<Configuration
			Name="Release|Win32"
			OutputDirectory="$(ProjectOut)\win32\opt\lib"
			IntermediateDirectory="$(ProjectOut)\win32\opt\obj\$(libname)"
			ConfigurationType="4"
			CharacterSet="0"
			>
			<Tool
				Name="VCPreBuildEventTool"
$(ifany:auxfiles:				CommandLine="$(forall:auxfiles:
if not exist $(ProjectOut)\$(dos:$(auxdir))\NUL mkdir $(ProjectOut)\$(dos:$(auxdir))&#x0D;&#x0A;copy ..\$(dos:$(filename)) $(ProjectOut)\$(dos:$(auxdir))\$(rootname)&#x0D;&#x0A;)"
)			/>
			<Tool
				Name="VCCustomBuildTool"
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
			/>
			<Tool
				Name="VCCLCompilerTool"
                        AdditionalOptions="/MP"
				Optimization="2"
				InlineFunctionExpansion="1"
				AdditionalIncludeDirectories="include\Win32;include$(ExtraInclude)"
				PreprocessorDefinitions="NDEBUG;_LIB;VISUAL_CPP;WIN32;RAVL_USE_GTK2=1;PROJECT_OUT=\&quot;$(subst:\:\\:$(ProjectOut))\&quot;"
				StringPooling="true"
				RuntimeLibrary="2"
				EnableFunctionLevelLinking="true"
				RuntimeTypeInfo="true"
				PrecompiledHeaderFile="$(ProjectOut)\win32\opt\obj\$(libname)/$(libname).pch"
				AssemblerListingLocation="$(ProjectOut)\win32\opt\obj\$(libname)\"
				ObjectFile="$(ProjectOut)\win32\opt\obj\$(libname)\"
				ProgramDataBaseFileName="$(ProjectOut)\win32\opt\lib\$(libname).pdb"
				WarningLevel="3"
				Detect64BitPortabilityProblems="false"
				SuppressStartupBanner="true"
                        DisableSpecificWarnings="4996,4396"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
				PreprocessorDefinitions="NDEBUG"
				Culture="2057"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLibrarianTool"
				OutputFile="$(ProjectOut)\win32\opt\lib\$(libname).lib"
				SuppressStartupBanner="true"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
				SuppressStartupBanner="true"
				OutputFile="$(ProjectOut)\win32\opt\lib\$(libname).bsc"
			/>
			<Tool
				Name="VCFxCopTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
		</Configuration>
	
	</Configurations>
	<References>
	</References>
	<Files>
		<Filter
			Name="Source Files"
			Filter="cpp;c;cxx;rc;def;r;odl;idl;hpj;bat"
			>
			$(forall:sources:
			<File
				RelativePath="..\$(dos:$(filename))"
				>
			</File>)
		</Filter>
		<Filter
			Name="Header Files"
			Filter="h;hpp;hxx;hm;inl"
			>
                        $(forall:headers:
			<File
				RelativePath="..\$(dos:$(filename))"
				>
			</File>)
		</Filter>
	</Files>
	<Globals>
	</Globals>
</VisualStudioProject>
