
cmake_minimum_required(VERSION 3.10)
project(RavlTest)

set(CMAKE_LEGACY_CYGWIN_WIN32 0)
set(CMAKE_CXX_STANDARD 17)

set(CMAKE_INSTALL_LIBDIR "/usr/local/lib")
set(CMAKE_INSTALL_INCLUDEDIR "/usr/local/include")

set(RAVLX_VERSION 0.1)

FIND_PACKAGE ( Threads REQUIRED )

find_package(ZLIB QUIET)
find_package(CURL QUIET)

include (FindPkgConfig)


enable_testing()

$(forall:libs:
$(ifreq:MacOSX:if (${CMAKE_SYSTEM_NAME} MATCHES "Darwin")
)# $(requires)
add_subdirectory(src/$(lib))
$(ifreq:MacOSX:endif())
)

install(DIRECTORY include DESTINATION include)
