
# Library: $(lib)

# Requires: $(requires)
# Supports: $(supports)

$(ifany:supports:IF($(forall:supports:($(found)) OR )FALSE))

$(forall:requires:IF($(found))
)
$(ifset:mustlinks:# MustLink: $(mustlinks)
)

INCLUDE_DIRECTORIES(include)
INCLUDE_DIRECTORIES(src)

set(HAVE_$(lib) 1)

$(forall:libs:
include_directories(../../$(toplevel)/$(lib)/include))

$(forall:optlibs:
if(DEFINED HAVE_$(lib))
include_directories(../../$(toplevel)/$(lib)/include)
endif())
$(ifset:!isprogram:$(ifset:mustlinks:
add_library($(lib)_Body STATIC $(headers) $(sources))
target_link_libraries($(lib)_Body PUBLIC $(forall:useslibs:$(linklib) ))

add_library($(lib) OBJECT $(forall:mustlinks:$(src) ))
target_link_libraries($(lib) PUBLIC $(lib)_Body )
)$(else:
add_library($(lib) STATIC $(headers) $(sources))
target_link_libraries($(lib) PUBLIC $(forall:useslibs:$(linklib) ))
)

target_include_directories(
    $(lib) PUBLIC
    $<BUILD_INTERFACE:${CMAKE_CURRENT_SOURCE_DIR}/include>
    $<INSTALL_INTERFACE:include>
    )

$(ifany:mustlinks:# MustLink fixes:
install(TARGETS $(lib)_Body EXPORT $(lib)_BodyConfig
   ARCHIVE  DESTINATION lib
   LIBRARY  DESTINATION lib
   RUNTIME  DESTINATION bin)  # This is for Windows

install(EXPORT $(lib)_BodyConfig DESTINATION lib/cmake/$(lib))
install(TARGETS $(lib)_Body DESTINATION lib)
)

install(TARGETS $(lib) EXPORT $(lib)Config
   ARCHIVE  DESTINATION lib
   LIBRARY  DESTINATION lib
   RUNTIME  DESTINATION bin)  # This is for Windows

install(EXPORT $(lib)Config DESTINATION lib/cmake/$(lib))
install(TARGETS $(lib) DESTINATION lib)
install(DIRECTORY include DESTINATION .)
)

$(ifany:mainexes:# Mains
$(forall:mainexes:
add_executable($(exename) $(src) )
target_link_libraries($(exename) $(ifset:!isprogram:$(mainlib)) $(forall:alllibs:$(linklib) ))
install(TARGETS $(exename) DESTINATION bin)
))
$(ifany:examples:# Examples
$(forall:examples:
add_executable($(exename) $(src) )
target_link_libraries($(exename) $(ifset:!isprogram:$(mainlib)) $(forall:alllibs:$(linklib) ))
install(TARGETS $(exename) DESTINATION examples)
))
$(ifany:testexes:# Tests
$(forall:testexes:
add_executable($(exename) $(src) )
#set_target_properties($(exename) PROPERTIES EXCLUDE_FROM_ALL TRUE)
target_link_libraries($(exename) $(ifset:!isprogram:$(mainlib)) $(forall:alllibs:$(linklib) ))
add_test($(exename) $(exename))
))

$(forall:auxfiles:
file(COPY data/$(src) DESTINATION ${CMAKE_BINARY_DIR}/$(dir)))

$(forall:requires:ENDIF()
)
$(ifany:supports:ENDIF())
