
# Library: $(lib)

# Requires: $(requires)
# Supports: $(supports)


$(forall:requires:IF($(found))
)

$(ifset:mustlinks:# MustLink: $(mustlinks)
)

INCLUDE_DIRECTORIES(include)

set(HAVE_$(lib) 1)

$(forall:libs:
include_directories(../../$(toplevel)/$(lib)/include))

$(forall:optlibs:
if(DEFINED HAVE_$(lib))
include_directories(../../$(toplevel)/$(lib)/include)
endif())

$(ifset:!isprogram:
ADD_LIBRARY($(lib) STATIC $(headers) $(sources))
target_link_libraries($(lib) PUBLIC $(forall:useslibs:$(linklib) ))

$(ifset:mustlinks:# MustLink:
#target_link_options($(lib) INTERFACE $(mustlinks)))

install(TARGETS $(lib) EXPORT $(lib)Config
   ARCHIVE  DESTINATION lib
   LIBRARY  DESTINATION lib
   RUNTIME  DESTINATION bin)  # This is for Windows

install(EXPORT $(lib)Config DESTINATION lib/cmake/$(lib))
install(TARGETS $(lib) DESTINATION lib)
)

$(ifany:mainexes:# Mains
$(forall:mainexes:
add_executable($(exename) $(src) )
target_link_libraries($(exename) $(ifset:!isprogram:$(mainlib)) $(forall:alllibs:$(linklib) ))
))
$(ifany:examples:# Examples
$(forall:examples:
add_executable($(exename) $(src) )
target_link_libraries($(exename) $(ifset:!isprogram:$(mainlib)) $(alllibs))
))
$(ifany:testexes:# Tests
$(forall:testexes:
add_executable($(exename) $(src) )
target_link_libraries($(exename) $(ifset:!isprogram:$(mainlib)) $(alllibs))
add_test($(exename) $(exename))
))


$(forall:requires:ENDIF()
)

